{% extends 'base.html' %}

{% block head %}
    <title>Get coordinates</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weather/index.css' %}">
{% endblock %}

{% block body %}
    <form class='form_input' method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Get your coordinates</label>
            {{ form.name }}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}