{% extends 'base.html' %}

{% block head %}
    <title>Home</title>

{% endblock %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Weather</h1>
        </div>
    </section>

    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Add city:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter city name">
            {#            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

{% endblock %}