{% extends 'base.html' %}

{% block head %}
    <title>Current</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weather/index.css' %}">
{% endblock %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Current forecast</h1>
        </div>
    </section>
{#    <form class='form_input' method="POST">#}
{#        {% csrf_token %}#}
{#        <div class="form-group">#}
{#            <label for="exampleInputEmail1">Add city:</label>#}
{#            {{ form.name }}#}
{#        </div>#}
{##}
{#        <button type="submit" class="btn btn-primary">Submit</button>#}
{#        <a href="{% url 'get_user_coordinates' %}">Get my location</a>#}
{#    </form>#}

    <div class="card" style="width: 11rem;">
        <img class="card-img-top" src="http://openweathermap.org/img/w/{{ Weather_icon_name }}.png"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            {% csrf_token %}
            <p class="card-text">Clouds: {{ Clouds }}</p>
            <p class="card-text">Humidity: {{ Humidity }}</p>
            <p class="card-text">Status: {{ Status }}</p>
            <p class="card-text">Detailed status: {{ Detailed_status }}</p>
            <p class="card-text">Dewpoint: {{ Dewpoint }}</p>
            <p class="card-text">Heat_index: {{ Heat_index }}</p>
            <p class="card-text">humidex: {{ humidex }}</p>
            <p class="card-text">Pressure: {{ Pressure }}</p>
            <p class="card-text">Rain: {{ Rain }}</p>
            <p class="card-text">Ref_time: {{ Ref_time }}</p>
            <p class="card-text">Snow: {{ Snow }}</p>
            <p class="card-text">Srise_time: {{ Srise_time }}</p>
            <p class="card-text">Visibility_distance: {{ Visibility_distance }}</p>
            <p class="card-text">Utc_offset: {{ Utc_offset }}</p>
            <p class="card-text">Uvi: {{ Uvi }}</p>
            <p class="card-text">Wind: {{ Wind }}</p>
        </div>
    </div>

{% endblock %}