{% extends 'base.html' %}

{% block head %}
    <title>Current</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weather/index.css' %}">
{% endblock %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Weather</h1>
        </div>
    </section>
    <form class='form_input' method="POST">
    {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Add city:</label>
{#            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"#}
{#                   placeholder="Enter city name">#}
                {{ form.name }}

            {#            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>#}
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        <a href=""><button type="submit" class="btn btn-primary">Get my coordinates</button></a>
    </form>

    <div class="card" style="width: 11rem;" >
        <img class="card-img-top" src="http://openweathermap.org/img/w/{{ Weather_icon_name }}.png"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            {% csrf_token %}
            <p class="card-text">Clouds: {{ Clouds }}</p>
            <p class="card-text">Humidity: {{ Humidity }}</p>
            <p class="card-text">Status: {{ Status }}</p>
            <p class="card-text">Detailed status: {{ Detailed_status }}</p>
            <p class="card-text">Temperature: {{ Temperature }}</p>
        </div>
    </div>

{% endblock %}