{% extends 'base.html' %}

{% block head %}
    <title>Weather</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weather/index.css' %}">
{% endblock %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1>All weather</h1>
        </div>
    </section>

    <form class='form_input'>
        <div class="form-group">
            <label for="exampleInputEmail1">Add city:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter city name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'get_user_coordinates' %}">Get my location</a>
    </form>
    <h1>Daily weather</h1>
    {% for city in city_weather %}
        <div class="card" style="width: 11rem;">
            <img class="card-img-top"
                 src="http://openweathermap.org/img/w/{{ city.Weather_icon_name_forecast_daily }}.png"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                {% csrf_token %}
                <p class="card-text">Clouds: {{ city.Clouds_daily }}</p>
                <p class="card-text">Humidity: {{ city.Humidity_daily }}</p>
                <p class="card-text">Status: {{ city.Status_daily }}</p>
                <p class="card-text">Detailed status: {{ city.Detailed_status_daily }}</p>
                <p class="card-text">Temperature: {{ city.Temperature_daily }}</p>
                {# new #}
                <p class="card-text">Temperature: {{ city.Heat_index_daily }}</p>
                <p class="card-text">Temperature: {{ city.Pressure_daily }}</p>
                <p class="card-text">Temperature: {{ city.Rain_daily }}</p>
                <p class="card-text">Temperature: {{ city.Ref_time_daily }}</p>
                <p class="card-text">Temperature: {{ city.Snow_daily }}</p>
                <p class="card-text">Temperature: {{ city.Srise_time_daily }}</p>
                <p class="card-text">Temperature: {{ city.sset_time_daily }}</p>
                <p class="card-text">Temperature: {{ city.Utc_offset_daily }}</p>
                <p class="card-text">Temperature: {{ city.Uvi_daily }}</p>
                <p class="card-text">Temperature: {{ city.Detailed_status_daily }}</p>
                <p class="card-text">Temperature: {{ city.Visibility_distance_daily }}</p>
                <p class="card-text">Temperature: {{ city.Temperature_daily }}</p>
                <p class="card-text">Temperature: {{ city.Wind_daily }}</p>

            </div>
        </div>
    {% endfor %}

    <h1>Hourly weather</h1>
    {% for city in city_weather %}
        <div class="card" style="width: 11rem;">
            <img class="card-img-top"
                 src="http://openweathermap.org/img/w/{{ city.Weather_icon_name_forecast_hourly }}.png"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                {% csrf_token %}
                <p class="card-text">Clouds: {{ city.Clouds_hourly }}</p>
                <p class="card-text">Humidity: {{ city.Humidity_hourly }}</p>
                <p class="card-text">Status: {{ city.Status_hourly }}</p>
                <p class="card-text">Detailed status: {{ city.Detailed_status_hourly }}</p>
                <p class="card-text">Temperature: {{ city.Temperature_hourly }}</p>
                {# new #}
                <p class="card-text">Temperature: {{ city.Heat_index_daily }}</p>
                <p class="card-text">Temperature: {{ city.Pressure_daily }}</p>
                <p class="card-text">Temperature: {{ city.Rain_daily }}</p>
                <p class="card-text">Temperature: {{ city.Ref_time_daily }}</p>
                <p class="card-text">Temperature: {{ city.Snow_daily }}</p>
                <p class="card-text">Temperature: {{ city.Srise_time_daily }}</p>
                <p class="card-text">Temperature: {{ city.sset_time_daily }}</p>
                <p class="card-text">Temperature: {{ city.Utc_offset_daily }}</p>
                <p class="card-text">Temperature: {{ city.Uvi_daily }}</p>
                <p class="card-text">Temperature: {{ city.Detailed_status_daily }}</p>
                <p class="card-text">Temperature: {{ city.Visibility_distance_daily }}</p>
                <p class="card-text">Temperature: {{ city.Temperature_daily }}</p>
                <p class="card-text">Temperature: {{ city.Wind_daily }}</p>
            </div>
        </div>
    {% endfor %}

    <h1>Minutely weather</h1>

    {% for city in city_weather %}
        <div class="card" style="width: 11rem;">
            <img class="card-img-top"
                 src="http://openweathermap.org/img/w/{{ city.Weather_icon_name_forecast_minutely }}.png"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                {% csrf_token %}
                <p class="card-text">Clouds: {{ city.Clouds_minutely }}</p>
                <p class="card-text">Humidity: {{ city.Humidity_minutely }}</p>
                <p class="card-text">Status: {{ city.Status_minutely }}</p>
                <p class="card-text">Detailed status: {{ city.Detailed_status_minutely }}</p>
                <p class="card-text">Temperature: {{ city.Temperature_minutely }}</p>


            </div>
        </div>
    {% endfor %}

{% endblock %}