{% extends 'base.html' %}

{% block head %}
    <title>Minute</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weather/index.css' %}">
{% endblock %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Minute forecast</h1>
        </div>
    </section>

    <form class='form_input'>
        <div class="form-group">
            <label for="exampleInputEmail1">Add city:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter city name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'get_user_coordinates' %}">Get my location</a>
    </form>

    <div class="card" style="width: 11rem;">
        <img class="card-img-top" src="http://openweathermap.org/img/w/{{ Weather_icon_name }}.png"
             alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            {% csrf_token %}
            <p class="card-text">Clouds: {{ Clouds }}</p>
            <p class="card-text">Humidity: {{ Humidity }}</p>
            <p class="card-text">Status: {{ Status }}</p>
            <p class="card-text">Detailed status: {{ Detailed_status }}</p>
            <p class="card-text">Temperature: {{ Temperature }}</p>
        </div>
    </div>

    {% for city in city_weather %}
        <div class="card" style="width: 11rem;" >
            <img class="card-img-top" src="http://openweathermap.org/img/w/{{ city.Weather_icon_name_forecast_daily }}.png"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                {% csrf_token %}
                <p class="card-text">Clouds: {{ city.Clouds_daily }}</p>
                <p class="card-text">Humidity: {{ city.Humidity_daily }}</p>
                <p class="card-text">Status: {{ city.Status_daily }}</p>
                <p class="card-text">Detailed status: {{ city.Detailed_status_daily }}</p>
                <p class="card-text">Temperature: {{ city.Temperature_daily }}</p>
            </div>
        </div>
    {% endfor %}

    <p>Next weather</p>

    {% for city in city_weather %}
        <div class="card" style="width: 11rem;" >
            <img class="card-img-top" src="http://openweathermap.org/img/w/{{ city.Weather_icon_name_forecast_hourly }}.png"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                {% csrf_token %}
                <p class="card-text">Clouds: {{ city.Clouds_hourly }}</p>
                <p class="card-text">Humidity: {{ city.Humidity_hourly }}</p>
                <p class="card-text">Status: {{ city.Status_hourly }}</p>
                <p class="card-text">Detailed status: {{ city.Detailed_status_hourly }}</p>
                <p class="card-text">Temperature: {{ city.Temperature_hourly }}</p>
            </div>
        </div>
    {% endfor %}

    {% for city in city_weather %}
        <div class="card" style="width: 11rem;" >
            <img class="card-img-top" src="http://openweathermap.org/img/w/{{ city.Weather_icon_name_forecast_minutely }}.png"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                {% csrf_token %}
                <p class="card-text">Clouds: {{ city.Clouds_minutely }}</p>
                <p class="card-text">Humidity: {{ city.Humidity_minutely }}</p>
                <p class="card-text">Status: {{ city.Status_minutely }}</p>
                <p class="card-text">Detailed status: {{ city.Detailed_status_minutely }}</p>
                <p class="card-text">Temperature: {{ city.Temperature_minutely }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}