{% extends 'base.html' %}

{% block head %}
    <title>Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'weather/index.css' %}">
{% endblock %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1>Weekly</h1>
        </div>
    </section>

    <form class='form_input'>
        <div class="form-group">
            <label for="exampleInputEmail1">Add city:</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                   placeholder="Enter city name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
                 <a href="{% url 'get_user_coordinates' %}">Get my location</a>

    </form>
    {% for city in city_weather %}
        <div class="card" style="width: 11rem;" >
            <img class="card-img-top" src="http://openweathermap.org/img/w/{{ city.Weather_icon_name_forecast }}.png"
                 alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                {% csrf_token %}
                <p class="card-text">Clouds: {{ city.Clouds_forecast }}</p>
                <p class="card-text">Humidity: {{ city.Humidity_forecast }}</p>
                <p class="card-text">Status: {{ city.Status_forecast }}</p>
                <p class="card-text">Detailed status: {{ city.Detailed_status_forecast }}</p>
                <p class="card-text">Temperature: {{ city.Temperature_forecast }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}